<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="box">
        <h1>Todo list</h1>
    </div>
    <div class="box">
        <% for(var i = 0; i < ejs.length; i++ ){ %>
            <div class="item" >
                <input type="checkbox">
                <p> <%= ejs[i] %> </p>
            </div>  
        <% } %>

        <form action="/" method="POST">
            <input type="text" id="plus0" name="ejs1" placeholder="Enter the task">
            <select name="priority" class="priority-select">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
            <button id="plus" type="submit">+</button> 


        </form>
        <!-- <form action="/delete" method="POST" style="display:inline;">
         <input type="hidden" name="id" value= <%= "ejs[i].id"%> >
         <button type="submit" class="delete-btn">Delete</button>
        </form> -->
    </div>
    <footer style="background:#333; color:white; text-align:center; padding:10px; margin-top:20px;">
    <p>&copy; <%= new Date().getFullYear() %> Todo List App | All Rights Reserved</p>
</footer>
    
</body>
</html>